<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New Contact | Fast Lane</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
      </head>
      <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">

            <img src="https://labs.fastlane-israel.com/static/assets/img/brand/flane-white.png" alt="Fast Lane Logo" width="166" height="30">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mt-2 mb-lg-0 ms-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="https://flane.co.il" target="_blank">More Courses</a>
                  </li>
              </ul>
              <!--Login Bar-->
            </div>
          </div>
        </nav>
    
        <div class="container my-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">New Contact</li>
                </ol>
              </nav>
              <hr class="col-3 my-4">
          <h1>New Contact</h1>
          <hr class="col-12 my-4">
          <div class="col-lg-8 px-0 mt-4">

    
    
            <form th:action="@{/saveContact}" th:object="${contact}" class="w-50" method="post">
              <div class="mb-3">
                <label for="firstNameLabel" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}"></input>
              </div>
              <div class="mb-3">
                <label for="lastNameLabel" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}"></input>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@fastlane-israel.com" th:field="*{email}">
              </div>
              <button class="btn btn-primary" type="submit">Save</button>
            </form>

            
    
          </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="main.js"></script>
      </body>
    </html>